.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    position: fixed;
    align-items: stretch;
    flex-direction: column;
    justify-content: start;
}

.box-content {
    flex: 1;
    border: 10px solid red;
}
    